html,
body {
height: 100%;
}

.settings{
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.game_box {
  width: 100%;
  max-width: 730px;
  padding: 15px;
  margin: auto;
}
.player_class img,
.player_list img{
  max-width:30px;
  margin-bottom:5px
}
.player_class img,
.player_list.player_class span{
  font-weight:bold;
  color:#80bdff
}

.user_avatar_selection {
  width:100px;
  cursor:pointer;
  margin:5px;
}

tr.active td{
  background:#563D7C !important;
  color:white;
  font-weight: bold;
}

.remove_player{
  color:red;
  cursor:pointer;
}