html,
body {
height: 100%;
}

body{
  background:url('/img/game.jpg');
  background-size: cover;
}

.user_chat{
  cursor:pointer;
  position:absolute;
  top:10px;
  left:10px;
  float:right;
  text-align:right;
  width:97%;
}

.settings{
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer
}

.chatChanel{
  border:solid 1px #bcbaba;
  border-radius:4px;
  height:420px;
  margin-bottom:10px;
  overflow:auto;
}

.selectedChatUser{
  font-weight:bold
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.game_box {
  width: 100%;
  max-width: 730px;
  padding: 15px;
  margin: auto;
}
.player_class img,
.player_list img{
  max-width:30px;
  margin-bottom:5px;
  cursor:pointer;
}
.player_class img,
.player_list.player_class span{
  font-weight:bold;
  color:#80bdff;
  cursor:pointer;
}

.user_avatar_selection {
  width:100px;
  cursor:pointer;
  margin:5px;
}

tr.active td{
  background:#563D7C !important;
  color:white;
  font-weight: bold;
}

.remove_player{
  color:red;
  cursor:pointer;
}